button{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid rgb(red, green, blue);
    background-color: brown;
    padding: 3px 10px;
    cursor: pointer;
}